@model TwitterWise.Models.QueryModel
@{
    ViewData["Title"] = "Home Page";
}

<center>
    <div class="Logo">
        <img id="trueimage" src="~/images/Twitterwiselogo.png" />
    </div>
</center>

<div class="title">
    <h1 style="text-align:center">TwitterWise</h1>
</div>

<div class="MainText">
    <h3 style="text-align:center;">Words of Wisdom at the Click of a Button</h3>
</div>

<div class="Instructions">
    <h2 style="text-align:center">Input Your Subject and Click the Button for Words of Wisdom</h2>
</div>

<div id="ResponseElement">
    <div style="text-align:center">
        <label style="font-size:16px; line-height:50px">Hashtag:</label>
        <input type="text" id="SearchInput" />
        <button type="submit" style="background:url(/images/GetWiseButton.png); background-size:cover" class="btn btn-default" id="SearchBtn"> </button>
    </div>

    <div class="messages">
        <h3 id="tweet" style="display:inline-block"></h3>
        <span id="fav" style="display:none; padding-left: 10px" title="Favorite this tweet">&#10084;</span>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/home.js"></script>
}